anyio
appnope
asttokens
backcall
beautifulsoup4
blinker
bs4
certifi
charset-normalizer
click
contourpy
cycler
decorator
dnspython
executing
filelock
fonttools
gdown
gunicorn
h11
httpcore
idna
ipython
itsdangerous
jedi
Jinja2
kiwisolver
MarkupSafe
numpy
oauthlib
packaging
pandas
parso
patsy
pexpect
pickleshare
prompt-toolkit
ptyprocess
pure-eval
Pygments
pymongo
pyparsing
pyshorteners
PySocks
python-dateutil
python-dotenv
pytz
requests
requests-oauthlib
schedule
scipy
six
sniffio
soupsieve
stack-data
statsmodels
tqdm
traitlets
tweepy
tzdata
urllib3
wcwidth
Werkzeug
